.accounts-container,
.income-container,
.debts-container {
  position: relative;

  .table-controls {
    position: absolute;
    right: 15px;
    top: 10px;
    @include display_table;

    .table-control {
      margin-left: 5px;
    }
  }

  table {
    tr {
      cursor: pointer;

      td {
        line-height: 34px;
        vertical-align: middle;
      }

    }

  }
}
