.accounts-container {
  .table-controls {
    position: absolute;
    right: 15px;
    top: 10px;
    @include display_table;

    .table-control {
      margin: 0 5px;

      &.disabled {
        opacity: 0.5;
      }
    }
  }

  table {
    tr {
      cursor: pointer;
      &.selected {
        background: #8fbced;
      }
    }
  }

  .last-add-field {
    float: left;
    margin-right: 15px;
    width: 60%;
  }
}
