<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finance book</title>
</head>
<body>

    <div class="container">
        <h1>Authorization</h1>

        <div class="sign-in-form">
            <form action="/auth" method="post">
                <div>
                    <input type="text" name="username" class="input user" placeholder="login"/>
                </div>
                <div>
                    <input type="password" name="password" class="input password" placeholder="password"/>
                </div>
                <div>
                    <button>Sign in</button>
                </div>
            </form>
        </div>
    </div>


</body>
</html>
