<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finance book</title>
</head>
<body>

    <div class="container">
        <a href="/login">Sign in</a>
        <a href="/sign_up">Sign up</a>
    </div>


</body>
</html>
