<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finance book</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="bower_components/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">
    <link href="build/css/app.css" rel="stylesheet">

</head>
<body data-ng-app="App">

    <header class="navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand">Finance Book</a>
        </div>
        <nav class="navbar-collapse bs-navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Planning</a>
                </li>
                <li>
                    <a href="/archive">Archive</a>
                </li>
            </ul>
            <div ng-controller="userCtrl">
                <user-header></user-header>
            </div>
        </nav>
    </header>
    <main id="finance-book" role="main" ng-controller="bookCtrl">
        <finance-book></finance-book>
    </main>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script src="build/js/app-finance.js"></script>

</body>
</html>