<div class="time-select-container">
    <div class="month-container dropdown pull-left">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ currentMonthName }}
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="month in months">
                <a href="#" tabindex="-1" role="menuitem" ng-click="changeMonth(month.id)">
                    {{ month['en'] }}
                </a>
            </li>
        </ul>
    </div>

    <div class="year-container pull-left">
        <span>{{ currentYear }}</span>
    </div>
</div>