<div class="income-container" ng-controller="incomeCtrl">
    <h2>Income</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="_income in income" ng-if="income.length > 0">
            <td>{{ $index + 1 }}</td>
            <td>{{ _income.name }}</td>
            <td>{{ _income.money }}</td>
            <td>{{ _income.date }}</td>
        </tr>
        <tr ng-if="income.length === 0">
            <td colspan="4"> No data</td>
        </tr>
        </tbody>
    </table>
</div>
