<div class="costs-container" ng-controller="costsCtrl">
    <h2>Costs</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Spend</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cost in costs" ng-if="costs.length > 0">
            <td>{{ $index + 1 }}</td>
            <td>{{ cost.name }}</td>
            <td>{{ cost.cost }}</td>
            <td>{{ cost.spend }}</td>
        </tr>
        <tr ng-if="costs.length === 0">
            <td colspan="4"> No data</td>
        </tr>

        </tbody>
    </table>
</div>